/* 
 * styles.css
 *
 * @author: Chopping Block (choppinblock.com)
 *
 */

/* ==========================================================================
   Refrence

	--- tag selector ---
	<h1>hello world</h1> in your html is styled with:
	
	h1 {
		color: orange;
	}
	
	--- class selector ---
	<div class="foo">hello world</div> in your html is styled with:

	.foo {
		color: orange;
	}
	
	--- id selector ---
	<div id="foo">hello world</div> in your html is styled with:

	#foo {
		color: orange;
	}

   ========================================================================== */


/* ==========================================================================
   Your styles go here
   ========================================================================== */


